<template>
    <div id= "task-editor-container">
        <custom-input v-model= "task.name" label = "Name"/>
        <custom-input v-model= "task.resolvedDate" label = "Resolved date" type = "date"/>
        <custom-input v-model= "task.sprint" label = "Sprint"/>
        <custom-input v-model= "task.epic" label = "Epic"/>
        <custom-input v-model= "task.story" label = "Story"/>
        <custom-input v-model= "task.hours" label = "Hours"/>
        <custom-input v-model= "task.description" label = "Desription"/>
        <div class="form-group button-group">
            <custom-button value = "Cancel" style="background-color: grey" @click = "closeEditor"/>
            <custom-button value = "Save" @click= "save"/>
        </div>
        
    </div>
</template>
<script>
import Input from '~/components/common/Input.vue'
import Button from '~/components/common/Button.vue'
export default {
    props: ['task'],
    components: {
        'custom-input': Input,
        'custom-button': Button
    },
    methods: {
        save(){
           this.$axios.$post("tasks.json", this.task)
            .then(res => {
                var t = {id: res.name, ...this.task};
                this.$store.commit('addTask', t);
                this.closeEditor();
            })
            .catch(err => {
                console.log(err);
            })
        },
        closeEditor(){
           this.$router.push('/');
        }
    },
    created(){

    }
}
</script>
<style scoped>
    .form-group {
        width: 45%;
        float: left;
    }
    .form-group:nth-child(odd) {
        margin-right: 10%;
    }
    .button-group {
        margin-top: 25px;
        display: flex;
        justify-content: flex-end;
    }
    .button-group button:nth-child(1) {
        margin-right: 10px;
    }
    #task-editor-container {
      border: 1px solid #ddd;
      display: inline-block;
      padding: 30px;
      border-radius: 15px;
  }
</style>