<template>
    <thead>
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Resolved date</th>
        <th scope="col">Sprint</th>
        <th scope="col">Epic</th>
        <th scope="col">Story</th>
        <th scope="col">Hours</th>
        <th scope="col">Description</th>
        </tr>
    </thead>
</template>