<template>
   <table class="table">
        <TaskHeader/>
        <tbody>
            <Task v-for="(task, i) in tasks" :key="i" :task= "task"/>
        </tbody>
   </table>
</template>
<script>
import {dummyTasks} from '~/assets/js/dummy'
import Task from '~/components/tasks/Task.vue'
import TaskHeader from '~/components/tasks/TaskHeader.vue'
export default {
    computed:{
        tasks(){
            return this.$store.getters.loadTasks;
        }
    },
    components: {
        Task,
        TaskHeader
    }
}
</script>