<template>
    <tr>
      <td>{{task.name}}</td>
      <td>{{task.resolvedDate}}</td>
      <td>{{task.sprint}}</td>
      <td>{{task.epic}}</td>
      <td>{{task.story}}</td>
      <td>{{task.hours}}</td>
      <td>{{task.description}}</td>
      <td><i class="fas fa-trash" @click = "deleteTask"></i></td>
      <td><i class="fas fa-edit" @click = "editTask"></i></td>
    </tr>
</template>
<script>
import axios from 'axios'
export default {
   props: ['task'],
   methods: {
     deleteTask(){
       axios.delete(process.env.firebaseUrl + 'tasks/' + this.task.id + ".json")
            .then(res => {
              this.$store.commit('removeTask', this.task);
            })
     },
     editTask(){
       this.$router.push('/task/' + this.task.id );
     }
   }
}
</script>
<style scoped>
i {
  color:#5a2525;
}
i:hover{
  cursor: pointer;
}
</style>