<template>
    <div class="container">
        <task-editor :task = "task" opened = "true" class = "task-editor"/>
    </div>
</template>
<script>
import TaskEditor from '~/components/tasks/TaskEditor.vue'
import axios from 'axios'
export default {
    data(){
        return {
            task: {}
        }
    },
    components: {
        'task-editor': TaskEditor
    },
    created(){
        var tasks = this.$store.getters.loadTasks;
        var taskId = this.$route.params.id;
        for (let key in tasks){
            if (taskId === tasks[key].id){
                this.task = tasks[key];
                break;
            }
        }
    }
}
</script>