<template>
    
    <button v-bind="$attrs" v-on="$listeners" >{{value}}</button>

</template>

<script>
export default {
    props:{
        value: {
            type: String
        }
    }
}
</script>

<style scoped>
button {
    height: 40px;
    width: 120px;
    border-radius: 8px;
    border: none;
    background-color: #5dcc5d;
    color: white;
    font-size: 18px;
}
button:hover{
    cursor: pointer;
}
button::after{
    border: none;
}
</style>