<template>
    <div id="logtime-header-container" class="container">
        <ul class="nav nav-pills">
			<li class="nav-item"><nuxt-link to="/" class="nav-link">Home</nuxt-link></li>
            <li class="nav-item"><nuxt-link to="/per-sprint" class="nav-link">Tasks per sprint</nuxt-link></li>
		</ul>
    </div>
</template>
<style scoped>
#logtime-header-container {
    margin: 20px auto;
}
</style>