<template>
  <div class="container">
    <tasks-per-day/>
    <custom-button value = "Add task" @click = "addTask()"/>
  </div>
</template>

<script lang="ts">
  import TasksPerDay from '~/components/tasks/TasksPerDay.vue';
  import axios from 'axios';
  import TaskEditor from '~/components/tasks/TaskEditor.vue'
  import Button from '~/components/common/Button.vue'

  axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';

  export default {
    data(){
      return {
        task: {},
        isOpened: false
      }
    },
    components: {
      'tasks-per-day': TasksPerDay,
      'task-editor': TaskEditor,
      'custom-button': Button
    },
    methods: {
      addTask(){
        this.$router.push('/task/add');
      }
    }
  }
</script>

<style scoped>
  .task-editor {
    margin-top: 20px;
  }
  #task-editor-container {
      border: 1px solid #ddd;
      display: inline-block;
      padding: 30px;
      border-radius: 15px;
      box-shadow: -9px -7px 20px 0px #ddd;
  }
</style>
